<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ilia Notin Projects | Sales</title>
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{%static 'favicon.png'%}"/>
  </head>

  <body>
    <a href="{%url 'home'%}"><button type="button" style="margin-top:20px; margin-left:12px; color:grey;" class="btn btn-light">← Back home</button></a>
    <h1 style="margin-top:30px; margin-left: 10px;">Sales<a href="https://github.com/inotin/moviePosters"><img style="height:28px" src="{%static 'GitHub-Mark-120px-plus.png'%}" alt=""></a></h1>
    <div class="container" style="max-width: 100%;">
      <div class="row" >
        <div class="col-lg-4">
          <h5>Overview</h5>

          <p>This project is one of mine real-world ones and is based on a sales data of a B2B company. The primary goal was to predict monthly sales for the following year.
            The secondary one was to find similar companies and build a recommender system.
          <h6>Dataset info</h6>
          <p>The initial dataset was in form of excel table and contained <b>308243</b> records of individual sales on a daily basis for years from 2018 to 2021 (Q1) <br>
            Each record had information on: date, product, quantity, cost, company, company tax number</p>
        </div>
        <div class="col-lg-8">
          <iframe style="width: 100%; height: 400px;" src="{%static 'sales/monthlySales.html'%}" title="monthlySales" ></iframe>

        </div>
      </div>


      <div class="row" style="margin-top:40px">
        <div class="col-lg-4">
          <h5>Exploratory Data Analysis</h5>
          <h6 style="margin-top:40px">Daily sales</h6>
          <p>It can be noticed that there are higher peak daily sales with time. My goal is to predict monthly sales.
            As a rule of thumb it's necessary to work with twice more frequent periods than considered for prediction.
            I'll try to consider the sales on weekly basis as it seems more logical and easier for perception.</p>
        </div>
        <div class="col-lg-8">

          <!-- <iframe style="width: 100%; height: 400px;" src="{%static 'sales/dailySales.html'%}" title="dailySales" ></iframe> -->
          <img style="width: 100%; margin-top: 45px;" src="{%static 'sales/img1_dailySales.png'%}" alt="img1">
        </div>
      </div>

      <div class="row" style="margin-top:40px">
        <div class="col-lg-4">
          <h6 style="margin-top:40px">Weekly sales</h6>
          <p>Visual check of weekly data shows that the data is stationary. Though it seems that there's a slightly visible trend.</p>
          <p>Let's decompose this data into trend, seasonal and residual components.</p>
          <p>Despite there's an increasing trend, Dickey-Fuller test showed that the process can be considered stationary (-5.463622, p-value=0.000002).
          That means tha we can proceed to data preparation and time series modelling. But before that let's take a brief look at montly and yearly data and corresponding boxplots.</p>

        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 400px;" src="{%static 'sales/weeklySales.html'%}" title="weeklySales" ></iframe>

        </div>
      </div>

      <!-- <div class="row" style="margin-top:40px">
        <div class="col-lg-4">
          <h6 style="margin-top:40px">Monthly sales</h6>
          <p></p>
        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 400px;" src="{%static 'sales/monthlySales.html'%}" title="monthlySales" ></iframe>

        </div>
      </div> -->

      <div class="row" style="margin-top:40px">
        <div class="col-lg-4">
          <h6 style="margin-top:40px">Time series decomposition</h6>
          <p>In this section the data was decomposed into:<br>
            <li>seasonal component</li>
            <li>trend component</li>
            <li>residual component</li><br>
          </p>
        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 850px;" src="{%static 'sales/decomposition.html'%}" title="decomposition" ></iframe>
          <img style="width: 100%" src="{%static 'sales/boxPlots.png'%}" alt="boxplots">
        </div>
      </div>


      <div class="row" style="margin-top:40px">
        <div class="col-lg-4">
          <h6 style="margin-top:40px">Time series decomposition</h6>
          <p>Boxplots were formed which allow to assess the significance of the differences month-to-month (seasonality) and year-to-year (trend)</p>
          <p>It can be seen that though in 2020 the interquartile range is enormous (thanks to gloabal pandemy) there's a slight positive trend. <br>
          Seasonality is pretty distinct which is a good sign for predictions.</p>
        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 850px;" src="{%static 'sales/decomposition.html'%}" title="decomposition" ></iframe>
          <img style="width: 100%" src="{%static 'sales/boxPlots.png'%}" alt="boxplots">
        </div>
      </div>



      <div class="row" >
        <div class="col-lg-4">
          <h4 style="margin-top:70px">Modelling</h4>
          <h5>Regression</h5>
          I chose regression based modelling as a first approach which allows to build comparatevily simple and interpretable models (compared to neural networks).
          <br> What I decided to do is to go through several modeling techniques:
          <li>Random forest regression</li>
          <li>Gradient boosting</li>
          <li>CatBoost</li>
          <li>XGBoost</li>
          But before that it's necessary to generate some features.
          <br>
          <h6>Feature generation</h6>
          <p>As soon as the data is 1-dimensional to build a more accurate model we need to generate more features. <br>
          One approach is to generate polynomial features, but as soon as we have time series data it makes more sense to generate features
          such as previous values (lags), rollong sum and rolling mean. Tim window for feature generation is 52 week.</p>

        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 600px;" src="{%static 'movies_years.html'%}" title="Colors vs Years" ></iframe>

        </div>
      </div>



      <div class="row" >
        <div class="col-lg-4">
          <h5>LSTM</h5>
          I was not totally satisfied with metrics for regression models and decided to try a more complex approach - neural networks.
          If we consider time series, the natural choice is a long short-term memory neural networks which are basically a type of
          recurrent neural networks which allow to take into the account precedent data (or 'remember' it) so it's a great option for time series prediction tasks.
          <br>
          I experimented with following approaches:
          <li>Vanilla LSTM with rule-of-thumb hyperparameters</li>
          <li>Vanilla LSTM with rule-of-thumb hyperparameters and early stopping</li>
          <li>Stacked LSTM</li>
          <li>Vanilla LSTM with a grid search for hyperparameter tuning (defining the optimal number of hidden units and epochs) </li>
          <br>
          <h6>Train and test sets</h6>
          I split my data into train and test sets with proportions of 85% and 15% respectively which can seem strange.
          But what I wanted to do is to gain maximum sequence information due to unusual data of year 2020, which was caused by Covid.
          Moreover, the train set had a spike in January, common for all precedent years, which is a nice feature for estimating accuracy of the model.

        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 600px;" src="{%static 'movies_years.html'%}" title="Colors vs Years" ></iframe>

        </div>
      </div>



      <div class="row" >
        <div class="col-lg-4">
          <h4 style="margin-top:70px">Final results and thoughts</h4>
          <h5>Final results</h5>
          What do we have in the end? We have a bunch of models which are not outsganding from RMSE point of view. But what we can do is to imitate a random forest regression approach, i.e. having numerous (not in my case but still) models, take an average of their predictions.

          <br>
          <h6>Thoughts</h6>
          <p>What can be done to improve the model? We can do several things:
          <li>Obtain some external data which possibly affects the sales.</li>
          <li></li>
          As soon as the data is 1-dimensional to build a more accurate model we need to generate more features. <br>
          One approach is to generate polynomial features, but as soon as we have time series data it makes more sense to generate features
          such as previous values (lags), rollong sum and rolling mean. Tim window for feature generation is 52 week.</p>

        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 600px;" src="{%static 'movies_years.html'%}" title="Colors vs Years" ></iframe>

        </div>
      </div>




      <div class="row" >
        <div class="col-lg-4">

          <h6 style="margin-top:70px">Colors and countries</h6>

            <p> I considered countries with the highest GDP in this barplot. It's interesting that India demonstrates a significant variety of used RGB colours and lack of black compared to other ones.
              Russian movie posters do not involve much use of white color, though it has RGB usage comparable with India. Canadian movie posters are the ones that use black the most (from the considered countries).
              It is hard to tell the distinct reasons for the observed differences but probably it has cultural reasons.
            </p>
        </div>
        <div class="col-lg-8">

          <iframe style="width: 100%; height: 620px;" src="{%static 'movies_countries.html'%}" title="Colors vs Countries" ></iframe>

        </div>
      </div>


      <div class="row" >

        <div class="col-lg-4">
          <h6>Colors and countries on the map</h6>
            <p> I tried to define the most used color from RGB range expecting to get a colourful map, but it turns out that the most used color is orange. This fact can be explained by the presence of people on the posters regardless of country.
            </p>
        </div>

        <div class="col-lg-8">
          <iframe style="width: 100%; height: 620px;" src="{%static 'movies_map.html'%}" title="Colors vs Countries" ></iframe>
        </div>

      </div>


    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
  <footer style="color:grey; position: relative; bottom:10px;left:10px;">
    Made using Django, Bootstrap, JavaScript and AWS by Ilia Notin
  </footer>
</html>
